[build]
builder = "nixpacks"

[deploy]
startCommand = "node_modules/.bin/next start -p $PORT"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/api/health"
healthcheckTimeout = 300
sleepApplication = false
